@import '../../customProperties.css';

#back-button {
  color: var(--secondary-text-color);
  position: absolute;
  background-color: transparent;
  border-radius: 15px;
  left: 5%;
  top: 20px;
  width: 30px;
  height: 30px;
  padding: 2px 2px 2px 0px;
  margin: 0;
}

#finish-button {
  position: absolute;
  right: 5%;
  top: 20px;
  height: 30px;
  padding: 5px 10px;
  margin: 0;
}

#state {
  position: absolute;
  height: 30px;
  top: 10%;
  padding: 8px 0;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 16px;
}

.prompt {
  position: absolute;
  top: 20%;
  
  font-size: 20px;
  color: var(--secondary-text-color);
  font-weight: 400;
  text-align: center;
}

.bubble {
  position: relative;
  background-color: transparent;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--primary-graphics-color);
  z-index: -1;
}

#play-button, .counter, .timer {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-graphics-color);
}

#play-button {
  cursor: pointer;
  background-color: transparent;
  width: 65px;
  height: 65px;
  transform: translate(-40%, -50%);
  z-index: 1;
}

#play-button:active {
  transform: translate(-40%, -50%) scale(0.98);
}

.counter {
  text-align: center;
  font-size: 72px;
  transform: translate(-50%, -50%);
}

.timer {
  margin: 0px;
  padding: 0px;
  font-size: 48px;
  text-align: center;
  width: 200px;
  transform: translate(-50%, -50%);
}

.controls {
  position: absolute;
  margin: 50px;
  bottom: 50px;
}
