#back-button {
  position: absolute;
  background-color: transparent;
  left: 5%;
  top: 10%;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0;
}

#back-button:hover {
  color: white;
  background-color: orange;
  border-radius: 15px;
}

#finish-button {
  position: absolute;
  background-color: transparent;
  right: 5%;
  top: 10%;
  padding: 0px;
  height: 30px;
  padding: 5px 10px;
}

#finish-button:hover {
  color: white;
  background-color: orange;
}

#state {
  position: absolute;
  top: 15%;

  color: lightslategray;
  font-size: 16px;
}

.prompt {
  position: absolute;
  top: 25%;
  
  font-size: 20px;
  color: lightslategray;
  font-weight: 400;
  text-align: center;
}

.bubble {
  position: relative;
  background-color: transparent;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid orange;
  z-index: -1;
}

#play-button, .counter, .timer {
  position: absolute;
  top: 50%;
  left: 50%;
  color: orange;
}

#play-button {
  cursor: pointer;
  background-color: transparent;
  width: 65px;
  height: 65px;
  transform: translate(-40%, -50%);
  z-index: 1;
}

#play-button:hover {
  color: rgb(255, 175, 0);
}


#play-button:active {
  transform: translate(-40%, -50%) scale(0.98);
}

.counter {
  text-align: center;
  font-size: 72px;
  transform: translate(-50%, -50%);
}

.timer {
  margin: 0px;
  padding: 0px;
  font-size: 48px;
  text-align: center;
  width: 200px;
  transform: translate(-50%, -50%);
}

.controls {
  position: absolute;
  margin: 50px;
  bottom: 50px;
}
