/* @keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */

.bubble {
  position: relative;
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 5px solid orange;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: orange;
}

/* 
.breathe {
  animation: breathe 1s 10;
} */

.controls {
  margin: 50px;
}


