.back-button, .finish-button {
  cursor: pointer;
  position: absolute;
  top: 8%;
  color: rgb(225, 225, 255);
}

.back-button {
  left: 25px;
  width: 25px;
  height: 25px;
}

.finish-button {
  right: 25px;
  width: 30px;
  height: 30px;
}


.ff-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  color: rgb(225, 225, 255);
}


.back-button:hover,
.finish-button:hover,
.ff-button:hover {
  color: orange;
}

.bubble {
  position: relative;
  cursor: pointer;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid orange;
}

.play-button, .counter, .timer {
  position: absolute;
  top: 50%;
  left: 50%;
  color: orange;
}

.play-button {
  width: 72px;
  height: 72px;
  transform: translate(-40%, -50%);
}

.counter {
  font-size: 72px;
  transform: translate(-50%, -50%);
}

.timer {
  font-size: 48px;
  transform: translate(-50%, -50%);
}

.state {
  position: absolute;
  margin: 50px;
  top: 0;
}

.controls {
  position: absolute;
  margin: 50px;
  bottom: 0;
}
